@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --pink: #ff99c8;
  --yellow: #fcf6bd;
  --green: #d0f4de;
  --blue: #a9def9;
  --purple: #e4c1f9;
}

#quick-start-container {
  display: none;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 50px;
  grid-template-columns: 1fr 4fr;
  header, footer {
    background-color: var(--pink);
    display: flex;
    align-items: center;
    grid-column: 1 / -1;
    padding: 30px;
  }
  footer {
    justify-content: center;
  }
}

nav {
  background-color: var(--yellow);
}
.container{
  background-color: var(--blue);
  .todo-container {
    height: 90%;
  display: flex;
  flex-wrap: wrap;
}
.new-todo-btn {
  height: 30px;
  position: absolute;
  right: 20px;
}
}

.project-card, .todo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  margin: 30px;
  padding: 30px;
  background-color: white;
}

 .todo-card {
  width: 300px;
 }

 .selected-project {
  background-color: var(--blue);
 }